<div class="flex items-center justify-center h-screen">
  <div class="h-[580px] flex bg-white rounded-lg border border-white">
    <div
      class="w-2/5 p-8 rounded-l-lg bg-[#ddf6fc] flex flex-col justify-between"
    >
      <div>
        <img src="/assets/images/logo.svg" alt="logo" />
      </div>
      <div>
        <img src="/assets/images/Illustrator.svg" alt="illustrator" />
      </div>
    </div>
    <div class="w-3/5 p-6 overflow-hidden">
      @if(signupstep1) {
      <div
        class="flex flex-col lg:w-[500px] justify-center lg:pl-12 lg:pr-20 h-full"
      >
        <div class="my-4">
          <h2 class="text-lg font-bold text-gray-700">Create Account</h2>
        </div>
        <div class="flex gap-x-2 mb-4">
          <div class="w-full h-2 rounded-full bg-[#0069D1]"></div>
          <div class="w-full h-2 rounded-full bg-gray-200"></div>
        </div>
        <div class="">
          <form [formGroup]="signupFormStep1">
            @if(userEmail) {
            <div class="flex flex-col">
              <label for="email" class="text-sm font-medium primary-color"
                >Enter Email ID</label
              >
              <input
                name="email"
                type="text"
                class="inputs-bg rounded-full cursor-not-allowed text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Email ID"
                [formControl]="email"
              />
              <p
                [hidden]="email.valid || email.untouched"
                class="text-xs font-medium text-red-500"
              >
                Enter Correct Email
              </p>
            </div>
            } @else {
            <div class="flex flex-col">
              <label class="text-sm font-medium primary-color" for="phone"
                >Enter Mobile No.</label
              >
              <input
                name="phone"
                type="number"
                class="inputs-bg cursor-not-allowed rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="91+"
                [formControl]="phone"
              />
              <p
                [hidden]="phone.valid || phone.untouched"
                class="text-xs font-medium text-red-500"
              >
                Number should be 10 digits
              </p>
            </div>
            }
            <div class="flex flex-col mt-4">
              <label for="name" class="text-sm font-medium primary-color"
                >Enter Full Name</label
              >
              <input
                name="name"
                type="text"
                class="inputs-bg rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Full Name"
                [formControl]="name"
              />
            </div>

            <div class="flex flex-col mt-4">
              <label class="text-sm w-80 font-medium primary-color" for="phone"
                >Enter Password</label
              >
              <input
                name="password"
                type="password"
                class="inputs-bg rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Your Password"
                [formControl]="password"
              />
              <p
                [hidden]="password.valid || password.untouched"
                class="text-xs font-medium text-red-500"
              >
                Password should be atleast 6 characters long
              </p>
            </div>

            @if(showError) {
            <p class="text-xs font-medium text-red-500 mt-2">
              please fill all the fields!
            </p>
            }

            <button
              class="bg-[#0069D1] w-full text-white py-2 rounded-full mt-8"
              type="submit"
              (click)="signupStep1()"
            >
              Next
            </button>
          </form>
        </div>
      </div>
      } @else if(signupstep2) {
      <div
        class="flex flex-col overflow-auto no-scrollbar lg:w-[500px] justify-center lg:pl-12 lg:pr-20 h-full"
      >
        <div class="mt-20">
          <div class="flex gap-x-2 items-center" (click)="back()">
            <img class="w-5 h-5" src="/assets/images/back.svg" alt="logo" />
            <span class="text-lg primary-color">Go Back</span>
          </div>
        </div>
        <div class="my-4">
          <h2 class="text-lg font-bold text-gray-700">Create Account</h2>
        </div>
        <div class="flex gap-x-2 mb-4">
          <div class="w-full h-2 rounded-full bg-[#0069D1]"></div>
          <div class="w-full h-2 rounded-full bg-[#0069D1]"></div>
        </div>
        <div class="">
          <form [formGroup]="signupFormStep2">
            <div class="flex flex-col">
              <label for="orgName" class="text-sm font-medium primary-color"
                >Organization-Name</label
              >
              <input
                name="orgName"
                type="text"
                class="inputs-bg rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Organization Name"
                [formControl]="orgName"
                (input)="checkOrgName($event)"
              />
              @if(orgNotFound) {
              <p class="text-xs font-medium text-red-500">
                Organization Not Found. Kindly Enter Correct Organization Name
              </p>
              }

              <!-- <p
                [hidden]="orgName.valid || orgName.untouched"
                class="text-xs font-medium text-red-500"
              >
                Enter Correct Organization Name
              </p> -->
            </div>
            <div class="flex flex-col mt-4">
              <label for="orgId" class="text-sm font-medium primary-color"
                >Organization-ID</label
              >
              <input
                name="orgId"
                type="text"
                class="inputs-bg disabled cursor-not-allowed rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Organization ID"
                [formControl]="orgId"
              />
            </div>

            <div class="flex flex-col mt-4">
              <label
                class="text-sm font-medium primary-color"
                for="designation"
              >
                Select Designation</label
              >
              <div
                class="inputs-bg rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
              >
                <select
                  class="outline-none w-full inputs-bg rounded-full text-sm text-gray-500 font-medium px-2"
                  name="designation"
                  [formControl]="designation"
                >
                  @for (desc of designations; track desc.id) {
                  <option value="{{ desc.id }}">{{ desc.name }}</option>
                  }
                </select>
              </div>
            </div>

            <div class="flex flex-col mt-4">
              <label
                class="text-sm w-80 font-medium primary-color"
                for="birthDate"
                >Birth-Date</label
              >
              <input
                name="birthDate"
                type="date"
                class="inputs-bg rounded-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                placeholder="Enter Your Password"
                [formControl]="birthDate"
              />
              <p
                [hidden]="birthDate.valid || birthDate.untouched"
                class="text-xs font-medium text-red-500"
              >
                select your birth Date
              </p>
            </div>

            <div class="flex mt-4 justify-between gap-x-4">
              <div class="flex flex-col">
                <label for="city" class="text-sm font-medium primary-color"
                  >City</label
                >
                <input
                  name="city"
                  type="text"
                  class="inputs-bg rounded-full w-full text-sm text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                  placeholder="City"
                  [formControl]="city"
                />
              </div>
              <div class="flex flex-col">
                <label for="pincode" class="text-sm font-medium primary-color"
                  >Pincode</label
                >
                <input
                  name="pincode"
                  type="number"
                  class="inputs-bg rounded-full text-sm w-full text-gray-500 font-medium px-2 py-3 placeholder:text-xs placeholder:pl-2 mt-2 outline-none border border-white focus:border-[#0069D1]"
                  placeholder="Pin Code"
                  [formControl]="pincode"
                />
              </div>
            </div>

            @if(showError) {
            <p class="text-xs font-medium text-red-500 mt-2">
              please fill all the fields!
            </p>
            }

            <button
              class="bg-[#0069D1] w-full text-white py-2 rounded-full mt-8"
              type="submit"
              (click)="signupStep2()"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
      } @else {
      <div class="flex gap-y-8 flex-col justify-center items-center h-full">
        <div
          class="bg-green-400 flex items-center justify-center rounded-full w-40 h-40"
        >
          <img
            class="w-16 h-16 text-white"
            src="/assets/images/success.svg"
            alt="success"
          />
        </div>
        <div class="flex flex-col items-center gap-x-2">
          <p class="text-lg font-semibold">Welcome to Solvei8!</p>
          <p class="text-sm text-gray-400">
            Redirecting you to in login screen. This may take a few seconds.
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
