/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to left, #94c6f9, #c4d5f2, #c0eff5, #c0e1fd, #8fbef5);
}

.inputs-bg {
  background-color: #E4ECEE;
}

.primary-color {
  color: #0069D1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}